.optionsArea {
	counter-reset: option-n;
}

.optionsArea .option {
	border-radius: 9px !important;
}

.optionsArea .option .item,
.optionsArea .option .item .wrapOption {
	position: relative;
}

.optionsArea .option .item .wrapOption .circle {
	opacity: 0 !important;
}


.optionsArea .option .item {
	border-radius: 8px !important;
}

.optionsArea .option .item::before {
	position: absolute;
	top: 8px;
	left: 8px;
	display: flex;
	align-items: center;
    justify-content: center;
	counter-increment: option-n;
	content: counter(option-n);
	width: 30px;
    height: 30px;
	font-size: 22px;
	border-radius: 100%;
	background-color: #fff;
	border: 1px solid #979797;
	color: #000;
}

.optionsArea .option.active .item::before {
	background-color: #1caff6;
    border-color: #1caff6;
	color: #fff;
}

.wordModel5 .optionsArea {
	padding-top: 10px !important;
}

.wordModel5 .optionsArea .option .item::before,
.wordModel9 .optionsArea .option .item::before,
.wordModel10 .optionsArea .option .item::before,
.sentenceModel5 .optionsArea .option .item::before,
.sentenceModel10 .optionsArea .option .item::before,
.sentenceModel13 .optionsArea .option .item::before {
	top: -10px;
    left: -10px;
	width: 20px;
    height: 20px;
    font-size: 12px;
}

.sentenceModel13 .optionsAreaWrap .left,
.sentenceModel13 .optionsAreaWrap .center,
.sentenceModel13 .optionsAreaWrap .right {
	padding-top: 10px;
}

.modelContainerSent.sentenceModel13 .optionsArea .optionsAreaWrap .center .oneRow.active {
	display: block !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	height: 0 !important;
}